body {
    background-image: url(background.jpg);
    background-size: 100%;
    color: white;
  }
  
  .container{
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 2%;
    margin-bottom: 2%;
    width: 65%;
    }
  
  .logo{
    width: 25%;
    margin-top: 6%;
    padding-left: 40%;
    margin-bottom: 10px;
    }
  
  h1{
    margin-bottom: 1%;
    margin-top: 0%;
    font-family: quicksand, verdana;
    text-align: center;
    color: #00DD00;
  }
  
  .banner {
    display: flex;
    padding: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #00DD00;
    align-items: center;
    justify-content: center;
    }
  
  .button{
    font-family: quicksand, verdana;
    font-weight: bold;
    font-size: 12px;
    margin: 0.8%;
  }
  
  .main{
    font-family: quicksand, verdana;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
  }
  
  .monopattino{
    font-weight: bold;
    font-size: 135%;
  }
  
  .mike24{
    padding-top: 2%;
  }
  
  .fede154{
    padding-top: 2%;
    padding-bottom: 10%;
  }
  
  .via:before{
    content: "\21A6";
  }
  
  .gino-batteria, .mike-batteria, .fede-batteria{
    margin-top: 0.5%;
  }
  
  .gino-batteria{
    padding: 1.5%;
    width: 40%;
    background-color: #F0A150;
    border-radius: 3px;
  }
  
  .mike-batteria{
    padding: 1.5%;
    width: 65%;
    background-color: #00DD00;
    border-radius: 3px;
  }
  .fede-batteria{
    padding: 1.5%;
    width: 20%;
    background-color: #B22222;
    border-radius: 3px;
  }
  